<div class="row">
  <toaster-container [toasterconfig]="config"></toaster-container>
  <div class="col-lg-1"></div>
  <div class="col-lg-9">
    <nb-card>
      <nb-card-header>Datos Pedido</nb-card-header>
      <nb-card-body>
        <div class="form-group"> <label for="Cliente">Cliente</label>
          <select class="form-control" [(ngModel)]="clienteSeleccionado">
            <option *ngFor="let cliente of listaClientes" [ngValue]="cliente">{{cliente.ContactName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="OrderDate">Order Date</label>
          <input type="date" name="OrderDate" class="form-control" [(ngModel)]="registroPedido.OrderDate"> </div>
        <div class="form-group">
          <label for="RequiredDate">Required Date</label>
          <input type="date" name="RequiredDate" class="form-control" [(ngModel)]="registroPedido.RequiredDate" />
        </div>
        <div class="form-group">
          <label for="ShippedDate">Shipped Date</label>
          <input type="date" name="ShippedDate" class=" form-control" [(ngModel)]="registroPedido.ShippedDate" />
        </div>
        <br>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>ID</th>
              <th>Producto</th>
              <th>Precio Unitario</th>
              <th>Cantidad</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detalle of listaDetalles">
              <td>{{detalle.ProductID}}</td>
              <td>{{detalle.ProductName}}</td>
              <td>{{detalle.UnitPrice}}</td>
              <td>{{detalle.Quantity}}</td>
              <td>{{detalle.Total}}</td>
            </tr>
          </tbody>
        </table>
        <br><br>
        <div class="form-group">
          <label for="">Total Pedido</label>
          <input type="text" class="form-control" [(ngModel)]="totalPedido">
        </div>
        <div class="input-group">
          <div>
            <button class="btn btn-primary" (click)="open(content)">Nuevo Producto</button><br>
          </div>
          <br><br>
          <div>
            <button class="btn btn-primary" (click)="agregarPedido(registroPedido)">Registrar Pedido</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Productos</h4>
    <button type="button" class="close" aria-label="Close" (click)="c('Close click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group"> <label for="Product">Producto</label>
      <select class="form-control" [(ngModel)]="productoSeleccionado" (ngModelChange)="onChangeProducto($event)">
        <option *ngFor="let producto of listaProductos" [ngValue]="producto">{{producto.ProductName}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="UnitPrice">Precio Unitario</label>
      <input #searchBox type="text" name="UnitPrice" class="form-control" id="UnitPrice" placeholder="Precio Unitario"
        [(ngModel)]="precioUnitario" />
    </div>
    <div class="form-group"> <label for="Quantity">Cantidad</label>
      <input #searchBox type="text" name="Quantity" class="form-control" id="Quantity" placeholder="Cantidad"
        (input)=" onChangeTotal(searchBox.value)" />
    </div>
    <div class="form-group"> <label for="Total">Total</label>
      <input type="text" name="Total" class="form-control" id="Total" placeholder="Total" [(ngModel)]="total" />
    </div>
    <button type="submit" class="btn btn-primary" (click)="agregarProducto(productoSeleccionado)">Agregar </button>
  </div>
</ng-template>